/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args        = "--quiet"
        }
        'multiqc' {
            args        = ""
        }
       'cutadapt' {
           args         = "-Z -e 0 --no-indels --action none --discard-untrimmed -g ${params.restriction_sites}"
           publish_dir  = "trimmed_fq"
       }
       'digest_genome'{
           publish_dir  = "genome/digest"
       }
       'genomefilter'{
           publish_dir  = "genome/filtered"
       }
       'chromsizes'{
           publish_dir  = "genome"
       }
       'bwa_index' {
           args         = "-a bwtsw"
           publish_dir  = "genome/bwa_index"
       }
       'bwa_mem' {
           args         = "-SP"
           publish_dir  = "bwa/mapped"
       }
       'samtools_sort' {
           suffix       = ".srt"
       }
       'pairtools_parse'{
           args         = "--min-mapq 10 --max-molecule-size 2000 --max-inter-align-gap 20 --walks-policy mask  --no-flip --drop-seq --drop-sam"
           publish_dir  = "pairs/raw"
       }
       'paritools_dedup'{
           args         = "--max-mismatch 1 --method max"
           publish_dir  = "pairs/filtered"
       }
       'pairtools_sort'{
           suffix      = ".sorted"
       }
       'pairtools_select'{
           args         = "(pair_type=='UU') or (pair_type=='UR') or (pair_type=='RU')"
           args2        = "selected"
           args3        = "rest"
       }
       'pairtools_select_long'{
           args         = '(COLS[-6]==COLS[-3]) and (chrom1==chrom2)'
           args2        = "samefrag"
           args3        = "valid"
           publish_dir  = "pairs/filtered"
       }
       'pairtools_select_short'{
           args         = '(chrom1==chrom2) and (abs(pos1 - pos2) < 1e4)'
           args2        = "short"
           args3        = "longRange_Trans"
           publish_dir  = "pairs/filtered"
       }
       'pairix'{
           publish_dir  = "pairs/filtered"
       }
       'cooler_cload'{
           args         = '--max-split 2'
       }
       'cooler_merge'{
           publish_dir   = "cooler/merge"
       }
       'cooler_zoomify'{
           publish_dir   = "cooler/mcool"
       }
       'cooler_dump_per_group'{
           args         = '-t pixels -H --join'
           publish_dir  = "long_reads/byGroup"
       }
       'cooler_dump_per_sample'{
           args         = '-t pixels -H --join'
           publish_dir  = "long_reads/bySample"
       }
       'merge_reads'{
           publish_dir  = "ATACpeak/merged_R2_reads"
       }
       'shift_reads'{
           publish_dir  = "ATACpeak/shifted_R2_reads"
       }
       'macs2_atac'{
           args         = "--shift ${params.shiftsize} --extsize ${params.smooth_window} --nomodel -B --SPMR --keep-dup all --call-summits --qval ${params.qval_thresh}"
           publish_dir  = "ATACpeak/peaks_per_Group"
       }
       'dump_reads_per_group'{
           publish_dir  = "short_reads/byGroup"
       }
       'dump_reads_per_sample'{
           publish_dir  = "short_reads/bySample"
       }
       'merge_peak'{
           publish_dir  = "ATACpeak/merged_peaks"
       }
       'genmap_mappability'{
           args         = '-K 50 -E 2'
           publish_dir  = "genome/mappability"
       }
       'maps_feature'{
           publish_dir  = "genome/digest"
       }
       'maps_maps'{
           args         = '--BINNING_RANGE 100000000'
           args2        = 'NA' //sex_chroms_to_process
           //publish_dir  = "MAPSpeak/parameters"
       }
       'maps_callpeak'{
           args         = '12 2' // cutoff_counts cutoff_fold_change
           args2        = '' //sex_chroms to be processed
           args3        = 'pospoisson' //model
           publish_dir  = "MAPSpeak"
       }
       'maps_reformat'{
           publish_dir  = "MAPSpeak"
       }
       'reads_summary'{
           publish_dir  = "pairs/QC"
       }
       'pairsqc'{
           publish_dir  = "pairs/QC"
       }
       'pairsplot'{
           publish_dir  = "pairs/QC"
       }
       'diffhicar'{
           publish_dir  = "DifferentialAnalyis"
       }
       'chippeakanno'{
           publish_dir  = "DifferentialAnalyis"
       }
       'enrichment'{
           publish_dir  = "DifferentialAnalyis"
       }
    }
}
