/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/hicar -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/assets/samplesheet.csv"

    // Output folder
    outdir = 'test_results'

    // peak calculating
    maps_cutoff_counts = 6
    maps_cutoff_fold_change = 2
    maps_cutoff_fdr = 2
    qval_thresh = 0.05

    // Genome References
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/fasta/chr22.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/annotation/chr22.gtf.gz'
    mappability = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/mappability/wgEncodeCrgMapabilityAlign50mer.chr22.bigWig'
    macs_gsize = '3e7'
    restriction_sites_cut_off = 0.1
}
