/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/hicar -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'HiPeak test profile'
    config_profile_description = 'HiPeak test dataset to check pipeline function'
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data for full size test
    input = "${projectDir}/assets/test_multi_samplesheet.csv"

    // Output folder
    outdir = 'full_test_results'

    // peak calculating
    maps_cutoff_counts = 6
    maps_cutoff_fold_change = 2
    maps_cutoff_fdr = 2
    qval_thresh = 0.05

    // for test only, not exported
    enrichment_fdr = 1

    // Genome references
    //genome = 'GRCh37'
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/fasta/chr22.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/annotation/chr22.gtf.gz'
    mappability = 'https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens/mappability/wgEncodeCrgMapabilityAlign50mer.chr22.bigWig'
    //macs_gsize = '3e7' // test if there is no gsize
    ucscname = 'hg19'

    // full test
    high_resolution_R1 = true
    virtual_4c = true
    v4c_max_events = 3

    // cluster Type
    snow_type = "FORK"
}
