params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 3.h
    reads      = 1e5
    seed       = 123

    modules {
        'assign_type' {
            args         = "--count_cutoff 4 --ratio_cutoff 2 --fdr 1"
            publish_dir  = 'HiPeak'
        }
    }
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.04.0'
}
