params {
    outdir     = "output/"
    enable_conda = false
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 3.h
    reads      = 1e5
    seed       = 123
    high_resolution_R1 = true
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: GUNZIP {
        publishDir  = [
            enabled: false
        ]
    }
    withName: GUNZIP2 {
        publishDir  = [
            enabled: false
        ]
    }
    withName: CHROMSIZES {
        publishDir  = [
            enabled: false
        ]
    }
    withName: COOLER_DIGEST {
        publishDir  = [
            enabled: false
        ]
    }
    withName: ASSIGN_TYPE {
        ext.args    = "--count_cutoff 4 --ratio_cutoff 2 --fdr 1"
        publishDir  = [
            path: "${params.outdir}/HiPeak"
        ]
    }
    withName: PREPARE_COUNTS {
        ext.args    = '1e6'
        publishDir  = [
            path: { "${params.outdir}/HiPeak" },
            enabled: false
        ]
    }
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.04.0'
}
