// Base directory for test data
def test_data_dir = "https://raw.githubusercontent.com/nf-core/test-datasets/hicar/data/genomics/homo_sapiens"

params {
    test_data {
        fasta       = "${test_data_dir}/fasta/chr22.fa.gz"
        gtf         = "${test_data_dir}/annotation/chr22.gtf.gz"
        mappability = "${test_data_dir}/mappability/wgEncodeCrgMapabilityAlign50mer.chr22.bigWig"
        macs_gsize  = '3e7'
    }
}
