name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run pipeline with test data
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/hicar') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "23.04.0"
          - "latest-everything"
        parameters:
          - "--interactions_tool maps"
          - "--interactions_tool hicdcplus"
          - "--interactions_tool peakachu"
          - "--tad_tool homer"
          - "--compartments_tool homer"
          - "--compartments_tool juicebox"
          - "--do_apa --apa_tool juicebox"
          - "--do_apa --apa_tool cooltools"
          - "--da_tool edger"
          - "--da_tool setOperation"
          - "--da_tool hicexplorer"
          - "--v4c_tool cooltools --v4c_max_events 3"
          - "--v4c_tool trackviewer --v4c_max_events 3"
          - "--method HiChIP --anchor_peaks 'https://raw.githubusercontent.com/aryeelab/hichipper/master/tests/chipseq/GM12878_SMC3_ChIPSeq_chr22.narrowPeak'"

    steps:
      - name: Check out pipeline code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v1
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Run pipeline with test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

#
